<!-- Paginationn start -->
<ul class="pagination d-flex justify-content-between">
  <li class="ml-1">
    <button class="pagination__button" ng-disabled="config.currentPage === 1" ng-click="config.currentPage=1">
      <i class="ti-angle-double-left pagination__button-icon"></i>
    </button>
  </li>
  <li class="ml-1">
    <button class="pagination__button" ng-disabled="config.currentPage === 1"
      ng-click="config.currentPage=config.currentPage-1">
      <i class="ti-angle-left pagination__button-icon"></i>
    </button>
  </li>
  <li class="ml-1">
    <span>{{config.currentPage}}</span>
  </li>
  <li class="ml-1">
    <button class="pagination__button" ng-disabled="config.currentPage>=length/config.pageSize"
      ng-click="config.currentPage=config.currentPage+1">
      <i class="ti-angle-right pagination__button-icon"></i>
    </button>
  </li>
  <li class="ml-1">
    <button class="pagination__button" ng-disabled="config.currentPage>=length/config.pageSize"
      ng-click="config.currentPage=length/config.pageSize">
      <i class="ti-angle-double-right pagination__button-icon"></i>
    </button>
  </li>
</ul>
<!-- Pagination end -->