<div class="mt-3 d-flex justify-content-between">
  <span style="text-transform: uppercase; ">{{title}} Management</span>
  <div style="margin: 0">
    <input type="text" placeholder="Search" ng-model="search">

    <button type="button" data-toggle="modal" data-target="#addModal{{type}}" ng-click="resetForm()">Add</button>
    <button ng-click="reloadData()">
      <i class="fas fa-sync"></i>
    </button>
  </div>
</div>
<table class="table table-striped table-bordered mt-3">
  <thead>
    <!-- Field management start-->
    <tr>
      <th ng-repeat="field in fields" scope="col" ng-click="sort(field.name, field.sorted)" class="sort-table">
        {{field.name}}
        <i ng-show="sortKey === field.name"
          ng-class="{'fas fa-chevron-up':!reverse,'fas fa-chevron-down': reverse}"></i>
      </th>
      <th scope="col">Action</th>
    </tr>
    <!-- Field management end-->

  </thead>
  <tbody>
    <!-- Body management start-->
    <tr
      ng-repeat="item in tableData | filterApp: (config.currentPage-1)*config.pageSize | filter: search | orderBy: sortKey: reverse | limitTo: config.pageSize">
      <td ng-repeat="field in fields">{{item[field.name]}}</td>
      <td class="btn-action">
        <button class="btn--edit" type="button" data-toggle="modal" data-target="#updateModal{{item.id}}"
          ng-click="showItem(item)"><i class="fas fa-edit"></i></button>

        <button class="btn--delete" type="button" data-toggle="modal" data-target="#deleteModal{{item.id}}"
          ng-click="showItem(item)"><i class="fas fa-trash-alt"></i></button>
      </td>
    </tr>

    <!-- Body management end-->

    <!-- <tr ng-if="type === 'product'"
      ng-repeat="product in tableData | filterApp: (config.currentPage-1)*config.pageSize | filter: search | orderBy: sortKey: reverse | limitTo: config.pageSize">
      <th scope="row">{{product.name}}</th>
      <td><img src="{{product.image}}" alt="{{product.name}}" class="img-thumbnail"></td>
      <td>{{product.category}}</td>
      <td><span ng-repeat="size in product.sizes" class="size">{{size.name}}</span></td>
      <td class="btn-action">
        <button class="btn--edit" type="button" data-toggle="modal" data-target="#updateModal{{product.id}}"
          ng-click="showItem(product)"><i class="fas fa-edit"></i></button>

        <button class="btn--delete" type="button" data-toggle="modal" data-target="#deleteModal{{product.id}}"
          ng-click="showItem(product)"><i class="fas fa-trash-alt"></i></button>
      </td>
    </tr> -->

  </tbody>
</table>

<div class="d-flex justify-content-between align-items-center">
  <span>Showing {{config.pageSize}} items</span>
  <pagination config="config" length="tableData.length"></pagination>
</div>